<!DOCTYPE html>
<html lang="en">
<head>
    <script src={{{appclient}}}></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
    <link rel="stylesheet" href="../styles/client.css" />
</head>
<body>
  <div class="fw-type-h4">
    <span>Auftraggeber Details</span>
  </div>
  <br/>
  <div class="table-container">
    <div id="contact-table1" class="table">
      <span class="fw-type-h6">Kontaktdaten</span>
      <table class="table-details">
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Name:</td>
          <td class="fw-b-0 fw-type-h6" id="customer-name">Fehler beim Laden</td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Email:</td>
          <td class="fw-b-0 fw-type-h6" id="customer-email">max.mustermann@email.de</td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Telefon:</td>
          <td class="fw-b-0 fw-type-h6" id="telephone"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Kundennr:</td> 
          <td class="fw-b-0 fw-type-h6" id="customer-no"></td>
        </tr>
      </table>
    </div>
    <div id="contact-table2" class="table">
      <span class="fw-type-h6">Addressdaten</span>
      <table class="table-details">
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Strasse:</td>
          <td class="fw-b-0 fw-type-h6" id="street">Musterstrasse 123</td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">PLZ/Ort:</td>
          <td class="fw-b-0 fw-type-h6" id="zip-location">10999 Berlin</td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Land:</td>
          <td class="fw-b-0 fw-type-h6" id="country">Deutschland</td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Segment:</td> 
          <td class="fw-b-0 fw-type-h6" id="segment"></td>
        </tr>
      </table>
    </div>
  </div>
  
  <br/>
  <input type="date" name="" id="">
  <fw-card class="info-section">
    <div id="contact-table3" class="table">
      <span class="fw-type-h6">Kundenstatus & Praferenzen</span>
      <table>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Status:</td>
          <td class="fw-b-0 fw-type-h6" id="status">Aktiv</td>
          <td class="fw-b-0 fw-type-sm">Seit:</td>
          <td class="fw-b-0 fw-type-h6" id="year"></td>
        </tr>
        <tr class="fw-b-0"></tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Bevorzugte Lieferzeit:</td>
          <td class="fw-b-0 fw-type-h6" id="delivery-time">11:00 - 14:00</td>
          <td class="fw-b-0 fw-type-sm">Zahlugsart:</td>
          <td class="fw-b-0 fw-type-h6" id="payment-method">Rechnung</td>
        </tr>
      </table>
    </div>
  </fw-card>
  <br/>

  <fw-card class="info-section">
    <div class="fw-type-h6">Bestellehistorie </div>
    <div>
      <table class="table" id="order-history">
        <tr>
          <td class="fw-b-0">Rosen-Bouquet "Liebe"</td>
          <td class="fw-b-0">15.12.2024</td>
          <td class="fw-b-0">€ 65,90</td>
        </tr>
      </table>
    </div>
  </fw-card>

</body>
</html>