<!DOCTYPE html>
<html lang="en">
<head>
    <script src={{{appclient}}}></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
    <link rel="stylesheet" href="../styles/client.css" />
</head>
<body>
  <div class="fw-type-h4">
    <span>Ausführung</span>
  </div>
  <br/>
  <div class="table-container">
    <div id="data-table" class="table">
      <!-- <span class="fw-type-h6">Ausführung</span> -->
      <table class="table-details">
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Nummer:</td>
          <td class="fw-b-0 fw-type-h6" id="nummer"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Name:</td>
          <td class="fw-b-0 fw-type-h6" id="name"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Addresse:</td>
          <td class="fw-b-0 fw-type-h6" id="addresse"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Rang:</td>
          <td class="fw-b-0 fw-type-h6" id="rang"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Fax:</td>
          <td class="fw-b-0 fw-type-h6" id="fax"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Telefon:</td>
          <td class="fw-b-0 fw-type-h6" id="telefon"></td> 
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Email:</td>
          <td class="fw-b-0 fw-type-h6" id="email"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Auftragshinweis:</td>
          <td class="fw-b-0 fw-type-h6" id="auftragshinweis"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Hinweis:</td>
          <td class="fw-b-0 fw-type-h6" id="hinweis"></td>
        </tr>
      </table>
    </div>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    app.initialized().then(function(client){
      window.client = client;
      client.instance.context().then(function (context){
        let data = context.data;
        console.log ("received data: ", data);
        document.getElementById('nummer').innerHTML = data.nummer || '';
        document.getElementById('name').innerHTML = data.name || '';
        document.getElementById('addresse').innerHTML = data.addresse || '';
        document.getElementById('rang').innerHTML = data.rang || '';
        document.getElementById('fax').innerHTML = data.fax || '';
        document.getElementById('telefon').innerHTML = data.telefon || '';
        document.getElementById('email').innerHTML = data.email || '';         
        document.getElementById('auftragshinweis').innerHTML = data.auftragshinweis || '';
        document.getElementById('hinweis').innerHTML = data.hinweis || '';
      });
    });
  });
</script>
</html>