<html>
  <head>
    <script src={{{appclient}}}></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="table">
      <!-- <span class="fw-type-h6">Augtragsstatus </span> -->
      <table class="table-details">
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Bestelldatum:</td>
          <td class="fw-b-0 fw-type-h6" id="bestelldatum"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Vertriebsweg:</td>
          <td class="fw-b-0 fw-type-h6" id="vertriebsweg"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Status:</td>
          <td class="fw-b-0 fw-type-h6" id="auftragsstatus"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Freitext:</td> 
          <td class="fw-b-0 fw-type-h6" id="freitext"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Molliwert:</td>
          <td class="fw-b-0 fw-type-h6" id="molliwert"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Erfassdatum:</td>
          <td class="fw-b-0 fw-type-h6" id="erfassdatum"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Rechnungsnummer:</td>
          <td class="fw-b-0 fw-type-h6" id="rechnungsnummer"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Trackingnummer:</td>
          <td class="fw-b-0 fw-type-h6" id="trackingnummer"></td>
        </tr>
      </table>
    </div>
    <div class="table-details" style="height: auto; width: 490px; overflow-x: auto; white-space: nowrap; padding-top: 10px;">
    <span class="fw-type-h4">OT</span>
    <table id="Klassik-OT-table" >
      <thead>
        <tr>
          <th class="fw-b-0 fw-type-sm">Datum</th>
          <th class="fw-b-0 fw-type-sm">Ereignis</th>
          <th class="fw-b-0 fw-type-sm">Text</th>
          <th class="fw-b-0 fw-type-sm">Ergebnis</th>
          <th class="fw-b-0 fw-type-sm">Name</th>
          <th class="fw-b-0 fw-type-sm">Adresse</th>
          <th class="fw-b-0 fw-type-sm">Erfasser</th>
          <th class="fw-b-0 fw-type-sm">Storniert</th>
          <th class="fw-b-0 fw-type-sm">Text</th>
          <th class="fw-b-0 fw-type-sm">Datum</th>
          <!-- <th class="fw-b-0 fw-type-sm">Uhrzeit</th> -->
          <th class="fw-b-0 fw-type-sm">Erfasser</th>
        </tr>
      </thead>
      <tbody id="Klassik-OT-tableBody">
        <tr>
          <td> Loading...</td>
        </tr>
         
        <!-- Rows will be inserted here -->
      </tbody>
    </table> 
    </div>  
    <div class="table"  style="height: auto; width: 490px; overflow-x: auto; white-space: nowrap; padding-top: 10px;">
      <span class="fw-type-h4">Gutscheine</span>
      <table>
        <thead>
          <th class="fw-b-0 fw-type-sm">Kartennummer</th>
          <th class="fw-b-0 fw-type-sm">Wert</th>
          <th class="fw-b-0 fw-type-sm">Einlösedatum</th>
        </thead>
        <tbody id="gtschn_tableBody">

        </tbody>
      </table>
    </div>
    <div class="table"  style="height: auto; width: 490px; overflow-x: auto; white-space: nowrap; padding-top: 10px;">
      <span class="fw-type-h5">Kopfpauschalen</span>
      <table>
        <thead>
          <th class="fw-b-0 fw-type-sm">Kondition</th>
          <th class="fw-b-0 fw-type-sm">Konditionstext</th>
          <th class="fw-b-0 fw-type-sm">Betrag</th>
          <th class="fw-b-0 fw-type-sm">Einheit</th>
        </thead>
        <tbody id="kopf_ps_tableBody">

        </tbody>
      </table>
    </div>
  </body>

  <script src="../scripts/modal.js"></script>
  <script src="../scripts/data-utils.js"></script>
</html>