<!DOCTYPE html>
<html lang="en">
  <head>
    <script src={{{appclient}}}></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
  </head>
  <body>
    <div class="table">
      <!-- <span class="fw-type-h6">Augtragsstatus </span> -->
      <table class="table-details">
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Bestelldatum:</td>
          <td class="fw-b-0 fw-type-h6" id="bestelldatum"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Vertriebsweg:</td>
          <td class="fw-b-0 fw-type-h6" id="vertriebsweg"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Status:</td>
          <td class="fw-b-0 fw-type-h6" id="auftragsstatus"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Freitext:</td> 
          <td class="fw-b-0 fw-type-h6" id="freitext"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Molliwert:</td>
          <td class="fw-b-0 fw-type-h6" id="molliwert"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Erfassdatum:</td>
          <td class="fw-b-0 fw-type-h6" id="erfassdatum"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Rechnungsnummer:</td>
          <td class="fw-b-0 fw-type-h6" id="rechnungsnummer"></td>
        </tr>
        <tr class="fw-b-0">
          <td class="fw-b-0 fw-type-sm">Trackingnummer:</td>
          <td class="fw-b-0 fw-type-h6" id="trackingnummer"></td>
        </tr>
      </table>
    </div>
    <div class="table" class="table-container">
      <fw-data-table id="datatable1" label="Data table 1">
      </fw-data-table>  

      <fw-data-table id="datatable2" label="Data table 1">
      </fw-data-table>  
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function(){
      app.initialized().then(function(client){
        window.client = client;
        client.instance.context().then(function (context){
          let orderdetails = context.data;
          console.log ("received data: ", orderdetails);
          document.getElementById('bestelldatum').innerHTML = orderdetails.bestelldatum;
          document.getElementById('vertriebsweg').innerHTML = orderdetails.vertriebsweg;
          document.getElementById('auftragsstatus').innerHTML = orderdetails.auftragsstatus;
          document.getElementById('freitext').innerHTML = orderdetails.freitext;
          document.getElementById('molliwert').innerHTML = orderdetails.molliwert;
          document.getElementById('erfassdatum').innerHTML = orderdetails.erfassdatum;    
          document.getElementById('rechnungsnummer').innerHTML = orderdetails.rechnungsnummer;
          document.getElementById('trackingnummer').innerHTML = orderdetails.trackingnummer;
          
          //test data for datatable
          // This should be replaced with actual data fetching logic  

          //console.log("ticket id: ", client.currentTicket.id);

            const data = {
              columns: [{
                "key": "name",
                "text": "Name"
              }, {
                "key": "group",
                "text": "Group"
              }, {
                "key": "role",
                "text": "Role"
              }],
              rows: [{
                "id": "1234",
                "name": "Alexander Goodman", 
                "role": "Administrator", 
                "group": "L1 Support"
              }, {
                "id": "2345",
                "name": "Ambrose Wayne", 
                "role": "Supervisor", 
                "group": "L1 Support"
              }, {
                "id": "3456",
                "name": "August hines",
                "role": "Agent",
                "group": "L1 support"
              }]
            }
            
          console.log("Data for datatable: ", data);
          let datatable = document.getElementById('datatable1');
          datatable.columns = data.columns
          datatable.rows = data.rows;
          console.log("Data table initialized with columns: ", datatable.columns);
          console.log("Data table initialized with rows: ", datatable.rows);
          
        });
      });
    });
  </script>
</html>