<!DOCTYPE html>
<html lang="en">
<head>
  <script src={{{appclient}}}></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
  <title>Document</title>
</head>
<body>
  <div class="table">
    <span class="fw-type-h6">Augtragsstatus </span>
    <table class="table-details">
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Bestelldatum:</td>
        <td class="fw-b-0 fw-type-h6" id="name"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Vertriebsweg:</td>
        <td class="fw-b-0 fw-type-h6" id="address1"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Status:</td>
        <td class="fw-b-0 fw-type-h6" id="status"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Freitext:</td> 
        <td class="fw-b-0 fw-type-h6" id="text"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Molliwert:</td>
        <td class="fw-b-0 fw-type-h6" id="molliwert"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Erfassdatum:</td>
        <td class="fw-b-0 fw-type-h6" id="recording-date"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Rechnungsnummer:</td>
        <td class="fw-b-0 fw-type-h6" id="invoice-number"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Trackingnummer:</td>
        <td class="fw-b-0 fw-type-h6" id="tracking-number"></td>
      </tr>
    </table>
  </div>
  <div class="table">
    <span class="fw-type-h6">Augtragsstatus </span>
    <table class="table-details">
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Bestelldatum:</td>
        <td class="fw-b-0 fw-type-h6" id="date"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Vertriebsweg:</td>
        <td class="fw-b-0 fw-type-h6" id="vertriebsweg"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Status:</td>
        <td class="fw-b-0 fw-type-h6" id="status"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Freitext:</td> 
        <td class="fw-b-0 fw-type-h6" id="text"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Molliwert:</td>
        <td class="fw-b-0 fw-type-h6" id="molliwert"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Erfassdatum:</td>
        <td class="fw-b-0 fw-type-h6" id="erfassdatum"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Rechnungsnummer:</td>
        <td class="fw-b-0 fw-type-h6" id="rechnungsnummer"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Trackingnummer:</td>
        <td class="fw-b-0 fw-type-h6" id="trackingnummer"></td>
      </tr>
    </table>
  </div>
</body>
</html>