<!DOCTYPE html>
<html lang="de">
<head>
    <script src={{{appclient}}}></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
    <link rel="stylesheet" href="../styles/overview.css" />
</head>
<body>
    <div class="form-container">
        
        <!-- Header Section -->
        <div class="section-container">
            <div class="section-title-b">Vertriebsweg:</div>
            <div class="section-content">
                <div class="row">
                    <span class="field field-m" id="vertriebsweg"></span>
                    <span class="label">Auftragsstatus:</span>
                    <span class="field field-m" id="status"></span>
                    <span class="label">Sendestatus:</span>
                    <span class="field field-m" id="sendestatus"></span>
                </div>
            </div>
        </div>
        
        <div class="section-container">
            <div class="section-title-b">Bestelldatum:</div>
            <div class="section-content">
                <div class="row">
                    <span class="field field-m" id="bestelldatum"></span>
                </div>
            </div>
        </div>
        
        <div class="section-container">
            <div class="section-title-b">Lieferdatum:</div>
            <div class="section-content">
                <div class="row">
                    <span class="field field-m" id="lieferdatum"></span>
                    <span class="label">Lieferhinweis:</span>
                    
                    <span class="label"  style="margin-left: 10px;">Auftragshinweis:</span>
                    
                </div>

                <div class="row">
                    <span class="field field-s" id="hinweis" style="margin-left: 93px;"></span>
                    <span class="field field-l" id="auftragshinweis"></span>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="section-title-b"></div>
            <div class="section-content auftragsstatus-insertion-point">
            </div>
        </div>
        
        <hr>
        
        <!-- Empfänger Section -->
        <div class="section-container">
            <div class="section-title-b">Empfänger:</div>
            <div class="section-content">
                <div class="row">
                    <span class="label field-m">Anrede:</span>
                    <span class="label field-l">Name:</span>
                    <span class="label field-l">Adress/Firmenzusatz:</span>
                </div>
                <div class="row">
                    <span class="field field-m" id="empf-anrede"></span>
                    <span class="field field-m" id="empf-name1"></span>
                    <span class="field field-m" id="empf-name2"></span>
                    <span class="field field-m" id="empf-name3"></span>
                </div>
            </div>
        </div>
        
        <div class="section-container">
            <div class="section-title"></div>
            <div class="section-content">
                <div class="row">
                    <span class="label">Anschrift:</span>
                </div>
                <div class="row">
                    <span class="field field-m" id="empf-strasse"></span>
                </div>
                
                <div class="row">
                    <span class="field field-m" id="empf-land"></span>
                    <span class="field field-m" id="empf-ort"></span>
                    <span class="field field-s" id="empf-region"></span>
                </div>
                
                <div class="row">
                    <span class="label">Telefon:</span>
                </div>
                <div class="row">
                    <span class="field field-m" id="empf-telefon"></span>
                </div>

                <div class="empf-insertion-point">
                    <!-- Insertion point for additional fields -->
                </div>
            </div>
        </div>
        
        <hr>
        
        <!-- Warenkorb Section -->
        <div class="container-title">Warenkorb:</div>
        <div class="section-container">     
            <div class="section-title">Positionen</div>
            <div class="section-content positionen-items-container">
                
            </div>
        </div>

        <!-- Karte Section -->
        <div class="section-container">
            <div class="section-title">Karte:</div>
            <div class="section-content">
                <div class="row">
                    <span class="label">Kartenart:</span>
                </div>
                <div class="row">
                    <span class="field field-m" id="kartenart"></span>
                </div>
                <div class="row">
                    <span class="label">Kartentext:</span>
                </div>
                <div class="row">
                    <span class="field field-m" id="kartentext"></span>
                </div>
            </div>
        </div>
        
        <!-- Konditionen Section -->
        <div class="section-container">
            <div class="section-title">
                Konditionen/Gutschein:
                <br><br>
                Kopfkonditionen
            </div>
            <div class="section-content kopfpauschalen-items-container">

            </div>
        </div>
        
        <!-- Rabatt Section -->
        <div class="section-container">
            <div class="section-title">Rabatt:</div>
            <div class="section-content">
                <div class="row">
                    <span class="label">Rabattkartenart:</span>
                    <span class="label" style="margin-left: 20px;">Rabattkartennummer:</span>
                </div>
                <div class="row">
                    <span class="field field-m red-border" id="rabattkartenart"></span>
                    <span class="field field-m red-border" id="rabattkartennummer"></span>
                </div>
            </div>
        </div>
        
        <!-- Gutscheineinlösung Section -->
        <div class="section-container">
            <div class="section-title">Gutscheineinlösung:</div>
            <div class="section-content guts-items-container">
                
            </div>
        </div>
        
        <!-- Zahlweise Section -->
        <div class="section-container">
            <div class="section-title">Zahlbetrag:</div>
            <div class="section-content">
                <div class="row">
                    <span class="field field-m" id="zahlbetrag"></span>
                    <span class="label">via</span>
                    
                    <span class="field field-m" id="ccins" style="margin-left: 68px;"></span>
                </div>
            </div>

        </div>
        <div class="section-container">
            <div class="section-title"></div>
            <div class="section-content warenkorb-insertion-point">

            </div>
        </div>
        <hr>
        
        <!-- Ausführender Section -->
        <div class="container-title">Ausführender:</div>
        <span class="label">Partnernummer:</span>
        <div class="section-container">
            <div class="section-title"> 
                <span class="field field-m" id="ausfuehrender"></span> 
            </div>

            <div class="section-content">                
                <div class="row">
                    <span class="field field-m" id="ausfuehrung-anrede"></span>
                    <span class="field field-m" id="ausfuehrung-name1"></span>
                    <span class="field field-m" id="ausfuehrung-name2"></span>
                    <span class="field field-m" id="ausfuehrung-name3"></span>
                </div>
                
                <div class="row">
                    <span class="field field-m" id="ausfuehrung-strasse"></span>
                </div>
                
                <div class="row">
                    <span class="field field-m" id="ausfuehrung-land"></span>
                    <span class="field field-m" id="ausfuehrung-plz"></span>
                    <span class="field field-m" id="ausfuehrung-ort"></span>
                </div>
                
                <div class="row">
                    <span class="label field-m">Rang:</span>
                    <span class="label field-m">Telefon:</span>
                    <span class="label field-m">Fax:</span>
                    <span class="label field-m">E-Mail:</span>
                </div>
                <div class="row">
                    <span class="field field-m" id="ausfuehrung-rang"></span>
                    <span class="field field-m" id="ausfuehrung-telefon"></span>
                    <span class="field field-m" id="ausfuehrung-fax"></span>
                    <span class="field field-m" id="ausfuehrung-email"></span>
                </div>
                <div class="ausf-insertion-point">
                    <!-- Insertion point for additional fields -->
                </div>
            </div>
        </div>

        <hr>
        
        <!-- Kommunikation Section -->
         <div class="container-title">Kommunikation/Schriftverkehr:</div>
        <div class="section-container">
            <div class="section-title">
                <span class="label">Sendungsverfolgungsnummer:</span>
                <span class="field field-l" id="trackingnummer"></span>
            </div>
            <div class="section-content">
                <div class="row">
                    
                </div>
            </div>
        </div>
        
        <!-- Ordertracking Section -->
        <div class="section-container">
            <div class="section-title">Ordertracking:</div>
            <div class="section-content ot-items-container">
               
            </div>
        </div>
        
        <!-- Freitext Section -->
        <div class="section-container">
            <div class="section-title">Freitext:</div>
            <div class="section-content">
                <div class="row">
                    <span class="field field-full" id="freitext" style="height: 30px;"></span>
                </div>
            </div>
        </div>
        
    </div>
</body>

  <script src="../scripts/overview.js"></script>
  <script src="../scripts/data-utils.js"></script>
</html>