<!DOCTYPE html>
<html lang="en">
<head>
  <script src={{{appclient}}}></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/css/crayons-min.css" />
  <link rel="stylesheet" href="../styles/style.css" />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Empfänger</title> -->
</head>
<body>
  <div class="table" class="table-container">
    <!-- <span class="fw-type-h6">Empfänger</span> -->
    <div id="data-table" class="table">
    <table class="table-details">
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Name:</td>
        <td class="fw-b-0 fw-type-h6" id="name"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Adresse:</td>
        <td class="fw-b-0 fw-type-h6" id="address1"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Telefon:</td>
        <td class="fw-b-0 fw-type-h6" id="phone1"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Adresse:</td> 
        <td class="fw-b-0 fw-type-h6" id="address2"></td>
      </tr>
      <tr class="fw-b-0">
        <td class="fw-b-0 fw-type-sm">Telefon:</td>
        <td class="fw-b-0 fw-type-h6" id="phone2"></td>
      </tr>
    </table>
    </div>
  </div>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    app.initialized().then(function(client){
      window.client = client;
      client.instance.context().then(function (context){
         let recipientDetails = context.data;
         console.log ("received data: ", recipientDetails);
         document.getElementById('name').innerHTML = recipientDetails.name;
         document.getElementById('address1').innerHTML = recipientDetails.address1;
         document.getElementById('phone1').innerHTML = recipientDetails.phone1;
         document.getElementById('address2').innerHTML = recipientDetails.address2;
         document.getElementById('phone2').innerHTML = recipientDetails.phone2;
      });
    });
  });
</script>

</html>